<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epocharch.accio.dao.mapper.AccioRPCMapper">
    <insert id="monitor_rpc_analyse.insert" parameterType="com.epocharch.accio.dao.mapper.AccioRPCMapper">
        INSERT INTO monitor_rpc_analyse(app_code,app_host,app_zone,app_idc,app_level,client_app_code,client_app_zone,
            client_app_idc,client_app_level,service_method_name,client_method_name
            ,start_time,end_time,called_counts,successed_counts,failed_counts,fast_counts,common_counts,slow_counts
            agv_cost_time,total_cost_time,max_cost_time,min_cost_ime,memo,long_hash) values (
            #{appCode},#{appHost},#{appZone},#{appIDC},#{appLevel},#{clientAppCode},#{clientAppZone},#{clientAppIDC},#{clientAppLevel}
            #{serviceMethodName},#{clientMethodName},#{startTime},#{endTime},#{calledCounts},#{successedCounts},#{failedCounts},#{fastCounts}
            #{commonCounts},#{slowCounts},#{agvCostTime},#{totalCostTime},#{maxCostTime},#{minCostTime},#{memo},#{longHash}
    </insert>

</mapper>
